In [102]:
import pandas as pd
import numpy as np
from functools import reduce
import datetime
from datetime import datetime

In [103]:
data1=pd.read_excel("RELATED_ENTITIES_01282020.xlsx")
data2=pd.read_excel("AMER_CLIENTS_01282020.xlsx")

# Compile Data

In [104]:
##compile the data and change the col names

def Compile_data(data1,data2):
    
    new_header = data1.iloc[0] #grab the first row for the header
    data1 = data1[1:] #take the data less the header row
    data1.columns = new_header #set the header row as the df header

    data1=data1.rename(columns={"KYC Entities parent Full Legal Name":"Company Name *",
                         "KYC Entities parent Postal Code":"ZipPostal",
                         "KYC Entities parent Registered Address - Street":"Address",
                         "KYC Entities parent State Name":"StateProv",
                         "KYC Entities parent City Name":"City",
                         "KYC Entities Country of Residence":"Country"})


    new_header = data2.iloc[0] #grab the first row for the header
    data2 = data2[1:] #take the data less the header row
    data2.columns = new_header #set the header row as the df header
    data2



    data2=data2.rename(columns={"BDR EL Id": "Submission Id","BDR EL Full Legal Name":"Company Name *",
                         "BDR EL Addresses Registered Street Name":"Address",
                         "BDR EL Addresses Registered State Name":"StateProv",
                         "BDR EL Addresses Registered Postal Code":"ZipPostal",
                         "BDR EL Addresses Registered Country":"Country",
                         "BDR EL Addresses Registered City Name":"City",
                         "BDR EL Addresses Business Street Name":"Location 1 Address",
                         "BDR EL Addresses Business State Name":"Location 1 StateProv",
                         "BDR EL Addresses Business Postal Code":"Location 1 ZipPostal",
                               "BDR EL Addresses Business Country":"Location 1 Country",
                               "BDR EL Addresses Business City Name":"Location 1 City"})

    data1=data1[["Company Name *","Address","City","StateProv","ZipPostal","Country","identifier"]]
    data2=data2[["Submission Id","Company Name *","Address","City","StateProv","ZipPostal","Country","Location 1 Address","Location 1 StateProv","Location 1 ZipPostal","Location 1 Country","Location 1 City","identifier"]]
    data=pd.concat([data1,data2], join="outer")
    
    return data

In [105]:
data=Compile_data(data1,data2)
data.head()

/Users/ljiang/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:38: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

,Address,City,Company Name *,Country,Location 1 Address,Location 1 City,Location 1 Country,Location 1 StateProv,Location 1 ZipPostal,StateProv,Submission Id,ZipPostal,identifier
1,NaN,NaN,"10036803 Canada Inc.,",CANADA ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B-1
2,NaN,-,"101 MERRIMAC HOLDINGS, LLC",UNITED STATES OF AMERICA ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,B-2
3,NaN,-,"101 MERRIMAC, INC",UNITED STATES OF AMERICA ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,B-3
4,NaN,-,"101 MERRIMAC, LLC",UNITED STATES OF AMERICA ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,B-4
5,NaN,WILMINGTON,1029 GEARY JV LLC,UNITED STATES OF AMERICA ...,NaN,NaN,NaN,NaN,NaN,DELAWARE,NaN,19801,B-5

In [106]:
len(data1)+len(data2)

27670

# Clean Special Characters Cleaning

In [107]:
def Clean_the_spec_char(df):
    
    data["Address"]=data["Address"].replace("-",np.nan).replace(".",np.nan).replace("n.a.",np.nan).replace("NA",np.nan).replace("n.a",np.nan).replace("N/A",np.nan).replace("na",np.nan)
    data["City"]=data["City"].replace("-",np.nan).replace("--",np.nan).replace("?NA",np.nan).replace(".",np.nan).replace("n.a.",np.nan).replace("NA",np.nan).replace("n.a",np.nan).replace("N/A",np.nan).replace("na",np.nan)
    data["Location 1 ZipPostal"]=data["Location 1 ZipPostal"].replace("-",np.nan).replace("n.a.",np.nan).replace("NA",np.nan).replace("n.a",np.nan).replace("N/A",np.nan).replace("na",np.nan)
    data["ZipPostal"]=data["ZipPostal"].replace("-",np.nan).replace("--",np.nan).replace(".",np.nan).replace("..",np.nan).replace("n.a.",np.nan).replace("NA",np.nan).replace("n.a",np.nan).replace("N/A",np.nan).replace("na",np.nan)
    data["StateProv"]=data["StateProv"].replace("-",np.nan).replace(".",np.nan).replace("n.a.",np.nan).replace("NA",np.nan).replace("n.a",np.nan).replace("N/A",np.nan).replace("na",np.nan)
    
    return data

In [108]:
Clean_the_spec_char(data)

,Address,City,Company Name *,Country,Location 1 Address,Location 1 City,Location 1 Country,Location 1 StateProv,Location 1 ZipPostal,StateProv,Submission Id,ZipPostal,identifier
1,NaN,NaN,"10036803 Canada Inc.,",CANADA ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B-1
2,NaN,NaN,"101 MERRIMAC HOLDINGS, LLC",UNITED STATES OF AMERICA ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B-2
3,NaN,NaN,"101 MERRIMAC, INC",UNITED STATES OF AMERICA ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B-3
4,NaN,NaN,"101 MERRIMAC, LLC",UNITED STATES OF AMERICA ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B-4
5,NaN,WILMINGTON,1029 GEARY JV LLC,UNITED STATES OF AMERICA ...,NaN,NaN,NaN,NaN,NaN,DELAWARE,NaN,19801,B-5
6,NaN,WILMINGTON,1029 GEARY STREET PROPERTY LLC,UNITED STATES OF AMERICA ...,NaN,NaN,NaN,NaN,NaN,DELAWARE,NaN,19801,B-6
7,NaN,Toronto,10614408 CANADA LIMITED,CANADA ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ON M5H 3Y2,B-7
8,NaN,NaN,10814253 CANADA INC.,UNITED STATES OF AMERICA ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B-8
9,NaN,NaN,1102952 B.C. Unlimited Liability Company,CANADA ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B-9
10,NaN,LEVIS,1185-9576 QUEBEC INC,CANADA ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G6V8V6,B-10
11,NaN,NaN,1212770 BC Ltd,CANADA ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B-11
12,NaN,DOVER,1625 EYE STREET GP LLC,UNITED STATES OF AMERICA ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19904,B-12
13,NaN,DOVER,1625 EYE STREET HOLDINGS LLC,UNITED STATES OF AMERICA ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19904,B-13
14,NaN,GUERNSEY,1625 EYE STREET INVESTMENTS LIMITED,"GUERNSEY, C.I ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,GY1 3NF,B-14
15,NaN,DOVER,1625 EYE STREET L.P.,UNITED STATES OF AMERICA ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19904,B-15
16,NaN,Indianapolis,16 Tech Community Corporation,UNITED STATES OF AMERICA ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B-16
17,NaN,TORONTO,1706065 ALBERTA ULC,CANADA ...,NaN,NaN,NaN,NaN,NaN,ON,NaN,MJ5 2T3,B-17
18,NaN,NaN,1706065 ALBERTA ULC,CANADA ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B-18
19,NaN,,1706065 CANADA ULC,CANADA ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,B-19
20,NaN,,1706065 CANADA ULC,CANADA ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,B-20
21,NaN,NaN,171263 Canada Inc,CANADA ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B-21
22,NaN,NaN,1799101 Ontario Inc,CANADA ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B-22
23,NaN,Wilmington,17 DECATUR JV LLC,UNITED STATES OF AMERICA ...,NaN,NaN,NaN,NaN,NaN,DELAWARE,NaN,19801,B-23
24,NaN,WILMINGTON,17 DECATUR STREET PROPERTY LLC,UNITED STATES OF AMERICA ...,NaN,NaN,NaN,NaN,NaN,DELAWARE,NaN,19801,B-24
25,NaN,NaN,17 H20partners,NA ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B-25
26,NaN,NaN,180 Maiden Lane JV LLC,UNITED STATES OF AMERICA ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B-26
27,NaN,NaN,1867 Infrastructure Holdings Inc,UNKNOWN COUNTRY ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B-27
28,NaN,NaN,1867 NA30 Holding Inc,UNKNOWN COUNTRY ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B-28
29,NaN,NaN,1867 Nouvelle Autoroute 30 Inc,UNKNOWN COUNTRY ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B-29
30,NaN,NaN,1900 Holdings Corporation,UNITED KINGDOM ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11759,251 LITTLE FALLS DRIVE,WILMINGTON,BCORE PARADISE LLC,USA,112 NORTH CURRY STREET,CARSON CITY,USA,NV,89703,DE,518786536,19808,A-11759
11760,CORP TRUST CENTER 1209 ORANGE ST,WILMINGTON,BFM A/C FREDDIE MAC STACR TRUST 2019-FTR3 - L-...,USA,55 EAST 52ND STREET,NEW YORK,USA,NY,10055,DE,518964342,19801,A-11760
11761,CORP TRUST CENTER 1209 ORANGE ST,WILMINGTON,BFM A/C FREDDIE MAC STACR TRUST 2019-FTR4 - L-...,USA,55 EAST 52ND STREET,NEW YORK,USA,NY,10055,DE,518964396,19801,A-11761
11762,251 LITTLE FALLS DRIVE,WILMINGTON,"JEPPESEN SANDERSON, INC",USA,55 INVERNESS DRIVE EAST,ENGLEWOOD,USA,CO,801125498,DE,519126051,19808,A-11762
11763,"AV ALBERT EINSTEIN, 627",SAO PAULO,SOCIEDADE BENEF ISRAELITABRAS HOSPITAL ALBERT ...,BRA,"AV ALBERT EINSTEIN, 627",SAO PAULO,BRA,NaN,05652-000,NaN,519127849,05652-000,A-11763
11764,2405 YORK ROAD,LUTHERVILLE TIMONIUM,T.ROWE PRICE ASSOCIATES INC AC METROPOLITAN LI...,USA,100 EAST PRATT STREET,BALTIMORE,USA,MD,21202,MD,519623419,210932264,A-11764
11765,113 SOUTH CHURCH STREET,GRAND CAYMAN,"KAYNE CLO 4, LTD",CYM,1800 AVENUE OF THE STARS,LOS ANGELES,USA,NaN,90067,4,520100638,KY1-1102,A-11765
11766,113 SOUTH CHURCH STREET,GRAND CAYMAN,"KAYNE CLO 6, LTD",CYM,1800 AVENUE OF THE STARS,LOS ANGELES,USA,NaN,90067,4,520100655,KY1-1102,A-11766
11767,113 SOUTH CHURCH STREET,GRAND CAYMAN,"KAYNE CLO I, LTD",CYM,1800 AVENUE OF THE STARS,LOS ANGELES,USA,NaN,90067,4,520100665,KY1-1102,A-11767
11768,113 SOUTH CHURCH STREET,GRAND CAYMAN,"KAYNE CLO II, LTD",CYM,1800 AVENUE OF THE STARS,LOS ANGELES,USA,NaN,90067,4,520100675,KY1-1102,A-11768
11769,113 SOUTH CHURCH STREET,GRAND CAYMAN,"KAYNE CLO III, LTD",CYM,1800 AVENUE OF THE STARS,LOS ANGELES,USA,NaN,90067,4,520100698,KY1-1102,A-11769
11770,"RUA EMILIANO PERNETA, 466",CURITIBA,DEVILLE HOTEIS E TURISMO LTDA,BRA,"RUA EMILIANO PERNETA, 466",CURITIBA,BRA,NaN,80420-080,NaN,520743463,80420-080,A-11770
11771,1675 SOUTH STATE STREE,DOVER,HUNT OIL COMPANY NORTH AMERICA LLC,USA,1900 N AKARD STREET,DALLAS,USA,TX,75201,DE,521045841,19901,A-11771
11772,251 LITTLE FALLS DRIVE,WILMINGTON,"WHISKEY BAY GATHERING COMPANY, LLC",USA,1300 MAIN STREET,HOUSTON,USA,TX,770026803,DE,521550456,19808,A-11772
11773,2405 YORK ROAD,LUTHERVILLE TIMONIUM,TRAP A/C KOREA INVESTMENT CORPORATION - AIDELT...,USA,100 EAST PRATT STREET,BALTIMORE,USA,MD,21202,MD,521691370,210932264,A-11773
11774,2405 YORK ROAD,LUTHERVILLE TIMONIUM,TRPA A/C JP MORGAN CHASE & CO - JPMORGAN CHASE...,USA,100 EAST PRATT STREET,BALTIMORE,USA,MD,21202,MD,521691385,210932264,A-11774
11775,"1388 SHI JI DA DAO, YANDU QU",YANCHENG SHI,JIANGSU ZHONGHENG PET ARTICLES JOINT STOCK CO LTD,CHN,"1388 SHI JI DA DAO, YANDU QU",YANCHENG SHI,CHN,32,NaN,32,522049183,NaN,A-11775
11776,94 SOLARIS AVENUE,CAMANA BAY,SABLE INTERNATIONAL FINANCE LIMITED,CYM,94 SOLARIS AVENUE,CAMANA BAY,CYM,4,KY1-1108,4,522208350,KY1-1108,A-11776
11777,251 LITTLE FALLS DRIVE,WILMINGTON,GREAT LAKES PORTMAN RIDGE FUNDING LLC,USA,650 MADISON AVENUE,NEW YORK,USA,NaN,10022,DE,522345249,19808,A-11777
11778,251 LITTLE FALLS DRIVE,WILMINGTON,ROKOS CAPITAL MANAGEMENT (US) LP,USA,"1717 K ST, NW, SUITE 900",WASHINGTON,USA,DC,20006,DE,524478807,19808,A-11778
11779,NO 123 SEC 2 JHONGSIAO E.ROAD,TAIPEI CITY,"MEGA INTERNATIONAL COMMERCIAL BANK CO., LTD., ...",TWN,"SUITE 100, 333 W SAN CARLOS STREET",SAN JOSE,USA,CA,95110,NaN,524639196,10058,A-11779
11780,PARKSTRAAT 83,S-GRAVENHAGE,SCHLUMBERGER FINANCE NV,NLD,PARKSTRAAT 83,S-GRAVENHAGE,NLD,NaN,2514JG,NaN,524639250,2514JG,A-11780
11781,ONE GREENWICH PLAZA,GREENWICH,PARTNERRE - CHARTIS OVERSEAS ASSOCIATION,USA,ONE GREENWICH PLAZA,GREENWICH,USA,CT,06830,CT,526559701,06830,A-11781
11782,ONE GREENWICH PLAZA,GREENWICH,PARTNER RE - NATIONAL UNION FIRE INS,USA,ONE GREENWICH PLAZA,GREENWICH,USA,CT,06830,CT,526559702,06830,A-11782
11783,ONE GREENWICH PLAZA,GREENWICH,PARTNERRE FBO LINCOLN NATIONAL,USA,ONE GREENWICH PLAZA,GREENWICH,USA,CT,06830,CT,526559703,06830,A-11783
11784,ONE GREENWICH PLAZA,GREENWICH,PARTNER REINSURANCE EUROPE SE MORTGAGE BACKED SEC,USA,ONE GREENWICH PLAZA,GREENWICH,USA,CT,06830,CT,526559704,06830,A-11784
11785,ONE GREENWICH PLAZA,GREENWICH,PARTNERRE CO LTD - PARTNERRE CO US MORTGAGE BA...,USA,ONE GREENWICH PLAZA,GREENWICH,USA,CT,06830,CT,526559706,06830,A-11785
11786,ONE GREENWICH PLAZA,GREENWICH,PARTNERRE LTD,USA,ONE GREENWICH PLAZA,GREENWICH,USA,CT,06830,CT,526559707,06830,A-11786
11787,ONE GREENWICH PLAZA,GREENWICH,PARTNER REINSURANCE US CORPORATION,USA,ONE GREENWICH PLAZA,GREENWICH,USA,CT,06830,CT,526559708,06830,A-11787
11788,70 SIR JOHN ROGERSON'S QUAY,DUBLIN 2,NEUBERGER BERMAN INVESTMENT FUNDS PLC- NEUBERG...,IRL,LANSDOWNE HOUSE 57 BERKELEY SQUARE,LONDON,GBR,LND,WIJ 6ER,D,526597764,D02R296,A-11788

In [109]:
data_new=data.copy()

# Double Space TRIM Company Name

In [110]:
## check for the nan in company name

def Check_for_nan_name(data_new):
    
    new_name=[]
    name2=[]
    index2=[]
    name=data_new['Company Name *'].to_list()
    for i in range(len(name)):
        if type(name[i])==float:
            name2.append(name[i])
            index2.append(i)
    return index2

In [111]:
Check_for_nan_name(data_new)

[10153]

In [112]:
data_new.iloc[10153]
# # # ## may change in future manual 
# data_new=data_new.drop(10152)
#data_new=data_new.reset_index(drop=True)

Address                                                               NaN
City                                                                  NaN
Company Name *                                                        NaN
Country                 CANADA                                        ...
Location 1 Address                                                    NaN
Location 1 City                                                       NaN
Location 1 Country                                                    NaN
Location 1 StateProv                                                  NaN
Location 1 ZipPostal                                                  NaN
StateProv                                                             NaN
Submission Id                                                         NaN
ZipPostal                                                             NaN
identifier                                                        B-10154
Name: 10154, dtype: object

In [113]:
## name clean
def Trim_company_name(data_new):
    data_new['Company Name *']=data_new['Company Name *'].astype(str)
    data_new['Company Name *']

    name=data_new["Company Name *"].to_list()
    new_name=[]

    for i in range(len(name)):
        str1=name[i].split()  
        new_string=" ".join(str1)
        new_name.append(new_string)
    data_new["Company Name *"]=new_name
    return print("done")

In [114]:
Trim_company_name(data_new)

done

# Strip the Last Punctuation

In [115]:
## doing twice strip last punctuation, takes seconds to run

In [116]:
import string

def strip_last_punctuation(s):
    if s and s[-1] in string.punctuation:
        return s[:-1]
    else:
        return s

test_str = "BROWN BROTHERS HARRIMAN & CO."
print(strip_last_punctuation(test_str))

BROWN BROTHERS HARRIMAN & CO

In [117]:
  
test=data_new["Company Name *"].to_list()

## strip once
lst=[]
for i in range(0,len(test)):
    lst.append(strip_last_punctuation(test[i]))

## strip twice
lst1=[]
for i in range(0,len(lst)):
    lst1.append(strip_last_punctuation(lst[i]))
##UPDATE company name
data_new['Company Name *'] = lst1

##Change name into upper cases
data_new["Company Name *"]=data_new["Company Name *"].str.upper()

In [118]:
# len(lst)
data_new["Company Name *"]=data_new["Company Name *"].str.upper()
#data_new['Company Name *']

In [119]:
#data_new.to_excel("check3.xlsx")

# Top Row Identify

In [120]:
# #data_new=data.copy()
# data_new
# data_new=data_new.sort_values(by='Company Name *').reset_index(drop=True)
# data_new

In [121]:
# ## QAed Running Fine
# data_new["Top"]=np.nan
# for i in range(1,len(data_new)):
#     if data_new["Company Name *"][i-1]==data_new["Company Name *"][i]:
#         data_new["Top"][i]="+"
#     else: 
#         #data_new["Top"][i]="top"
#         if (data_new["Company Name *"][i-1]!=data_new["Company Name *"][i])&(data_new["Company Name *"][i+1]!=data_new["Company Name *"][i]):
#             data_new["Top"][i]="Single"
#         else:
#             data_new["Top"][i]="Top"
# print("done")

In [122]:
# # ## whole run QA
# data_new.to_excel("refresh_QA3.xlsx")

In [123]:
# ## input of the country clean
# data_new=pd.read_excel("refresh_QA3.xlsx")
# data_new

# Country Name Cleaning

In [124]:
#data_new=data.copy()
#data=pd.read_excel("Copy of DDIQ_Jan2019_EligiblePop.xlsx",sheet_name="Company Full Submission")
country=pd.read_excel("country_name.xlsx")
country['country'] = country['country'].str.upper()
country['name'] = country['name'].str.upper()
data_new["Country"] = data_new["Country"].str.upper()
country=country.drop(["Unnamed: 0"],axis=1)
country
# data_new["Country"]

,country,variable,name
0,AFGHANISTAN,0,ISLAMIC REPUBLIC OF AFGHANISTAN
1,ALAND ISLANDS,1,ÅLAND
2,ALAND ISLANDS,0,PROVINCE OF ÅLAND
3,ALBANIA,0,REPUBLIC OF ALBANIA
4,ALGERIA,0,PEOPLE’S DEMOCRATIC REPUBLIC OF ALGERIA
5,ANDORRA,0,PRINCIPALITY OF ANDORRA
6,ANGOLA,0,REPUBLIC OF ANGOLA
7,ARGENTINA,0,ARGENTINE REPUBLIC
8,ARMENIA,0,REPUBLIC OF ARMENIA
9,AUSTRALIA,0,COMMONWEALTH OF AUSTRALIA
10,AUSTRIA,0,REPUBLIC OF AUSTRIA
11,AZERBAIJAN,0,REPUBLIC OF AZERBAIJAN
12,BAHAMAS,1,THE BAHAMAS
13,BAHAMAS,0,COMMONWEALTH OF THE BAHAMAS
14,BAHRAIN,0,KINGDOM OF BAHRAIN
15,BELARUS,0,REPUBLIC OF BELARUS
16,BELGIUM,0,KINGDOM OF BELGIUM
17,BENIN,0,REPUBLIC OF BENIN
18,BERMUDA,1,SOMERS ISLANDS
19,BERMUDA,0,SOMERS ISLES
20,BHUTAN,0,KINGDOM OF BHUTAN
21,BOLIVIA,1,REPUBLIC OF BOLIVIA
22,BOLIVIA,0,PLURINATIONAL STATE OF BOLIVIA
23,"BONAIRE, SAINT EUSTATIUS AND SABA",1,SAINT EUSTATIUS
24,"BONAIRE, SAINT EUSTATIUS AND SABA",3,SABA
25,"BONAIRE, SAINT EUSTATIUS AND SABA",2,SINT EUSTATIUS
26,"BONAIRE, SAINT EUSTATIUS AND SABA",5,BES ISLANDS
27,"BONAIRE, SAINT EUSTATIUS AND SABA",4,SAINT EUSTATIUS AND SABA
28,"BONAIRE, SAINT EUSTATIUS AND SABA",0,BONAIRE
29,BOTSWANA,0,REPUBLIC OF BOTSWANA
...,...,...,...
279,UNITED KINGDOM,5,G.B.
280,UNITED KINGDOM,1,GREAT BRITAIN
281,UNITED STATES,0,U.S.
282,UNITED STATES,1,UNITED STATES OF AMERICA
283,UNITED STATES,3,U.S.A.
284,UNITED STATES,2,THE UNITED STATES OF AMERICA
285,UNITED STATES MINOR OUTLYING ISLANDS,0,U.S. MINOR OUTLYING ISLANDS
286,URUGUAY,0,ORIENTAL REPUBLIC OF URUGUAY
287,UZBEKISTAN,0,REPUBLIC OF UZBEKISTAN
288,VANUATU,0,REPUBLIC OF VANUATU
289,VENEZUELA,2,REPUBLIC OF VENEZUELA
290,VENEZUELA,0,BOLIVARIAN REPUBLIC OF VENEZUELA
291,VENEZUELA,1,UNITED STATES OF VENEZUELA
292,VIETNAM,0,VIET NAM
293,VIETNAM,1,SOCIALIST REPUBLIC OF VIETNAM
294,VIRGIN ISLANDS (UK),2,BVI
295,VIRGIN ISLANDS (UK),3,B.V.I.
296,VIRGIN ISLANDS (UK),1,"VIRGIN ISLANDS, BRITISH"
297,VIRGIN ISLANDS (UK),0,BRITISH VIRGIN ISLANDS
298,VIRGIN ISLANDS (US),0,U.S. VIRGIN ISLANDS
299,VIRGIN ISLANDS (US),2,VIRGIN ISLANDS OF THE UNITED STATES
300,VIRGIN ISLANDS (US),1,UNITED STATES VIRGIN ISLANDS
301,WALLIS & FUTUNA,0,WALLIS AND FUTUNA
302,WESTERN SAHARA,1,SPANISH SAHARA
303,WESTERN SAHARA,0,SPANISH WESTERN SAHARA
304,YEMEN,0,REPUBLIC OF YEMEN
305,ZAMBIA,1,NORTHERN RHODESIA
306,ZAMBIA,0,REPUBLIC OF ZAMBIA
307,ZIMBABWE,1,SOUTHERN RHODESIA
308,ZIMBABWE,0,REPUBLIC OF ZIMBABWE

In [125]:
## import the country full list
country_name=pd.read_excel("ddiq country name.xlsx")

#country_list=data_new["Country"].to_list()
#len(country_list)
three_letter_iso=country_name["3 Letter ISO"].to_list()
len(three_letter_iso)

247

In [126]:

# 3_iso works
## all ran:2m
def three_iso_clean(data_new):
    
    country_list=data_new["Country"].to_list()
    for i in range(len(country_list)):
        for m in range(len(country_name)):
            if country_list[i]==country_name["3 Letter ISO"][m]:
                country_list[i]=country_name["DDIQ Country Name"][m]
            else:
                country_list[i]=country_list[i]

    data_new['Country'] = country_list
    return data_new['Country']

In [127]:
## check for the nan in name: Don't have to run
# new_name=[]
# name2=[]
# index2=[]
# name=data_new['Country'].to_list()
# for i in range(len(name)):
#     if type(name[i])==float:
#         name2.append(name[i])
#         index2.append(i)
# index2

In [ ]:
three_iso_clean(data_new)
data_new["Country"].unique()

In [ ]:
data_new["Country"]=data_new["Country"].astype(str)
data_new["Country"]=data_new["Country"].replace("nan"," ")
#data_new["Country"][836]
#data_new["Country"][243]

In [ ]:
## country clean trim space

name=data_new["Country"].to_list()
new_country=[]

for i in range(len(name)):
    str1=name[i].split()  
    new_string=" ".join(str1)
    new_country.append(new_string)
data_new["Country"]=new_country
#print("done")

data_new["Country"].unique()

In [ ]:
## further clean
data_new['Country']=data_new['Country'].replace("NA", " ").replace("UNKNOWN COUNTRY"," ").replace("(blank)"," ").replace("(CASH) WORLD", " ").replace("NA"," ").replace("(BLANK)"," ")
data_new['Country']=data_new['Country'].str.upper()
array=data_new['Country'].unique()
array

In [ ]:
# country["country"].unique()
# extra_country=country["country"].to_list()

##upper case
country=pd.read_excel("country_name.xlsx")
country_list_ddiq=pd.read_excel("country_list_ddiq.xlsx")
country["country"]=country["country"].str.upper()
country["name"]=country["name"].str.upper()
country_list_ddiq["DDIQ Country Name"]=country_list_ddiq["DDIQ Country Name"].str.upper()

## make the full list
country_ddiq=country["country"].to_list()
country_alias=country["name"].to_list()
country_list_ddiq=country_list_ddiq["DDIQ Country Name"].to_list()
country_full=country_ddiq+country_alias+country_list_ddiq

## deduplicate the list
output = []
for x in country_full:
    if x not in output:
        output.append(x)
len(output)

In [ ]:
## start to run 5:25 start for all 2m to finish
test=data_new["Country"].str.upper().to_list()
test1=test

## clean last-vlookup
#test=data_new["Country"].to_list()

lst=[]
index=[]
lst_same=[]
index_same=[]
for i in range(len(test1)):
    for m in range(len(country)):
        if (test1[i]==country["name"][m]):
            test1[i]=country["country"][m]
        elif test1[i] not in country_full:
            index.append(i)
            lst.append(test1[i])
        else:
            test1[i]=test1[i]

list_of_tuples = list(zip(index, lst))
df = pd.DataFrame(list_of_tuples, columns = ['index', 'country']) 
df["country"].unique()

In [ ]:

data_new["Country"]=test1
data_new["Country"].unique()

In [ ]:
## replace the values not in the country list (KEEP ADDING)
data_new["Country"]=data_new["Country"].replace('GUERNSEY, C.I','GUERNSEY').replace('(BLANK)'," ").replace('VIRGIN ISLANDS (BRITISH)','Virgin Islands (UK)').replace('JERSEY, C.I.','JERSEY').replace('ABU DHABI','UNITED ARAB EMIRATES').replace('TANZANIA, UNITED REP. OF','TANZANIA').replace("KOREA, DEM PEOPLE'S REP.","NORTH KOREA").replace('KOREA, REPUBLIC OF','SOUTH KOREA').replace("VIRGIN ISLANDS, U.S.","Virgin Islands (US)").replace('CANARIES ISLAND','SPAIN').replace('CONGO'," ").replace('DUBAI','UNITED ARAB EMIRATES').replace('EUROPEAN CENTRAL BANK-ECB',' ').replace('BRITISH INDIAN OCEAN TER.','BRITISH INDIAN OCEAN TERRITORY').replace('MOLDOVA (REPUBLIC OF)','MOLDOVA').replace('MACEDONIA, THE FORMER YU','MACEDONIA').replace('WORLD',' ').replace('THE STATE OF PALESTINE','PALESTINIAN TERRITORIES').replace("KYRGIZSTAN","KYRGYZSTAN")                                                
data_new["Country"].unique()

In [ ]:
len(test1)

In [ ]:
data_new.to_excel("country_cleaned_socgen_c4.xlsx")

In [ ]:
#data_new

# Address Parsing and Grouping

In [ ]:
data_new=pd.read_excel("country_cleaned_socgen_c4.xlsx")
# country_name=pd.read_excel("")
data_new["Location 1 Country"].unique()
data_new["Location 1 Country"]=data_new["Location 1 Country"].replace(np.nan," ")

In [ ]:
data_new["Location 1 Country"].unique()

In [ ]:
# run when location1 is 3 iso


data_new["Location 1 Country"] = data_new["Location 1 Country"].str.upper()
country_list_location1=data_new["Location 1 Country"].to_list()

# 3_iso works
## all ran:2m
#country_list_location1=[]
for i in range(len(country_list_location1)):
    for m in range(len(country_name)):
        if country_list_location1[i]==country_name["3 Letter ISO"][m]:
            country_list_location1[i]=country_name["DDIQ Country Name"][m]
        else:
            country_list_location1[i]=country_list_location1[i]

data_new['Location 1 Country'] = country_list_location1
data_new['Location 1 Country']=data_new['Location 1 Country'].replace("nan",np.nan)
data_new["Location 1 Country"].unique()
#data_new["Country"].unique()

In [ ]:
## added: company name upper case; country upper case; "NAN" ; Fix ZIP, CITY and STATE
data_new["Company Name *"]=data_new["Company Name *"].str.upper()
data_new["Location 1 Country"]=data_new["Location 1 Country"].str.upper()
data_new["Location 1 Country"]=data_new["Location 1 Country"].replace("NAN"," ")
data_new["Country"]=data_new["Country"].replace("NAN"," ")
data_new["City"]=data_new["City"].replace("0",np.nan).replace("n..a",np.nan).replace("Na",np.nan).replace("N/a",np.nan).replace("n/A",np.nan)                                 
data_new["ZipPostal"]=data_new["ZipPostal"].replace("0",np.nan).replace("n..a",np.nan).replace("Na",np.nan).replace("N/a",np.nan).replace("n/A",np.nan)
data_new["StateProv"]=data_new["StateProv"].replace("0",np.nan)
data_new["Location 1 Country"].unique()
#data_new["City"].unique()

In [ ]:
new_df=data_new[["Company Name *","Location 1 Address","Location 1 City","Location 1 StateProv","Location 1 ZipPostal","Location 1 Country","Submission Id","identifier"]]

new_df=new_df.rename(columns={"Location 1 Address":"Address",
                              "Location 1 City":"City",
                              "Location 1 StateProv":"StateProv", 
                              "Location 1 ZipPostal":"ZipPostal",
                             "Location 1 Country":"Country"})
new_df["s_id"]=0




old_df=data_new[["Company Name *","Address","City","StateProv","ZipPostal","Country","Submission Id","identifier"]]
old_df["s_id"]=1
concat=pd.concat([new_df,old_df], join="outer")

In [ ]:
# concat["Submission Id"]=concat["Submission Id"].astype(str).replace("nan","99999999999")
# concat["Submission Id"]=concat["Submission Id"].astype(int)
# concat

In [ ]:
# sort on address, submission id and name (name,subID,country,s_id)
concat = concat.sort_values(['Company Name *','Submission Id',"Country",'s_id'], ascending=[True,True,False,False])

h=concat.groupby(['Company Name *']).agg({"identifier":"unique"})


#concate the data and deduplicate
concat["concat"] = concat['Address'].map(str) +' ' + concat['City'].map(str) +' ' + concat['StateProv'].map(str)+' ' + concat['ZipPostal'].map(str)+' '+concat['Country'].map(str)
data_dedupli=concat.drop_duplicates(subset=['Company Name *','concat'], keep="first")

##group by
g=data_dedupli.groupby(['Company Name *']).agg({'Address':lambda x: list(x),
                                              'City':lambda x: list(x),
                                             'StateProv':lambda x: list(x),
                                             'ZipPostal':lambda x: list(x),
                                             "Country":lambda x: list(x)})



## change into workbench format: need to include city, state, country name change
h.reset_index(inplace=True)
g.reset_index(inplace=True)

In [ ]:
#data_dedupli.to_excel("duplicates_check.xlsx")
g

In [ ]:
address=g[["Company Name *","Address"]]
address=address.Address.apply(pd.Series).merge(address, left_index = True, right_index = True).drop(["Address"],axis=1)
address_final=address[["Company Name *",0,1,2,3,4,5,6,7,8,9,10]]
address_final=address_final.rename(columns={0: "Address",1:"Location 1 Address",2:"Location 2 Address",
                              3:"Location 3 Address", 4:"Location 4 Address", 5:"Location 5 Address",
                              6:"Location 6 Address",7:"Location 7 Address",8:"Location 8 Address",
                              9:"Location 9 Address",10:"Location 10 Address"})



address_final=address_final.merge(g,how='inner', left_on="Company Name *", right_on="Company Name *")

#address_final

In [ ]:
## City code
city_code=g[["Company Name *","City"]]
city_code=city_code.City.apply(pd.Series).merge(city_code, left_index = True, right_index = True)
city_code=city_code[["Company Name *",0,1,2,3,4,5,6,7,8,9,10]].rename(columns={0: "City",1:"Location 1 City",
                                                                         2:"Location 2 City",
                              3:"Location 3 City", 4:"Location 4 City", 5:"Location 5 City",
                              6:"Location 6 City",7:"Location 7 City",8:"Location 8 City",
                              9:"Location 9 City",10:"Location 10 City"})

city_code=city_code.merge(g,how='inner', left_on="Company Name *", right_on="Company Name *")
#,6,7,8,9,10   
# city_code

In [ ]:
## StateProv
#["Company Name *",0,1,2,3,4,5,6,7,8,9,10]]
#,6,7
StateProv_code=g[["Company Name *","StateProv"]]
StateProv_code=StateProv_code.StateProv.apply(pd.Series).merge(StateProv_code, left_index = True, right_index = True)
StateProv_code=StateProv_code[["Company Name *",0,1,2,3,4,5,6,7,8,9,10]].rename(columns={0: "StateProv",1:"Location 1 StateProv",
                                                                          2:"Location 2 StateProv",
                              3:"Location 3 StateProv", 4:"Location 4 StateProv", 5:"Location 5 StateProv",
                              6:"Location 6 StateProv",7:"Location 7 StateProv",8:"Location 8 StateProv",
                                9:"Location 9 StateProv",10:"Location 10 StateProv"                                           })

StateProv_code=StateProv_code.merge(g,how='inner', left_on="Company Name *", right_on="Company Name *")
# StateProv_code

In [ ]:
## zip code
#,6,7,8,9,10
zip_code=g[["Company Name *","ZipPostal"]]
zip_code=zip_code.ZipPostal.apply(pd.Series).merge(zip_code, left_index = True, right_index = True)
zip_code=zip_code[["Company Name *",0,1,2,3,4,5,6,7,8,9,10]].rename(columns={0: "ZipPostal",1:"Location 1 ZipPostal",
                                                                          2:"Location 2 ZipPostal",
                              3:"Location 3 ZipPostal", 4:"Location 4 ZipPostal", 5:"Location 5 ZipPostal",
                              6:"Location 6 ZipPostal",7:"Location 7 ZipPostal",8:"Location 8 ZipPostal",
                              9:"Location 9 ZipPostal",10:"Location 10 ZipPostal"})
zip_code=zip_code.merge(g,how='inner', left_on="Company Name *", right_on="Company Name *")
# zip_code

In [ ]:
## country code
#,6,7,8,9,10
c_code=g[["Company Name *","Country"]]
c_code=c_code.Country.apply(pd.Series).merge(c_code, left_index = True, right_index = True)
c_code=c_code[["Company Name *",0,1,2,3,4,5,6,7,8,9,10]].rename(columns={0: "Country",1:"Location 1 Country",
                                                                          2:"Location 2 Country",
                              3:"Location 3 Country", 4:"Location 4 Country", 5:"Location 5 Country",
                              6:"Location 6 Country",7:"Location 7 Country",8:"Location 8 Country",
                              9:"Location 9 Country", 10:"Location 10 Country"
                                                             })
c_code=c_code.merge(g,how='inner', left_on="Company Name *", right_on="Company Name *")
# c_code

In [ ]:
data_frames4 = [address_final, city_code, StateProv_code,zip_code,c_code]
df_merged4 = reduce(lambda  left,right: pd.merge(left,right,on=['Company Name *'],
                                            how='outer'), data_frames4)
df_merged4=df_merged4.rename(columns={"Address_x": "Address",
                          "City_y":"City",
                          "StateProv_y":"StateProv",
                          "ZipPostal_y":"ZipPostal", 
                          "Country_y":"Country"})

In [ ]:
#df_merged4.to_excel("address_qa778.xlsx")

In [ ]:
df_merged4[0:1000]

# submission ID

In [ ]:
#data_new=pd.read_excel("country_cleaned_socgen_c4.xlsx")
#data_new=data.copy()

In [ ]:
# ## format clean run for the submission ID takes 30m to run 
# for i in range(len(data_new)):
#     if data_new["Submission Id"][i]!=np.nan:
#         data_new["Submission Id"][i]=data_new["Submission Id"][i].astype(int)

In [ ]:
data_new.head()

In [ ]:
# data_new["Submission Id"]=data_new["Submission Id"].astype(str)
# data_new["Submission Id"]=data_new["Submission Id"].replace('nan',"-9223372036854775808")
# data_new["Submission Id"]=data_new["Submission Id"].astype(int)
# #data_new["Submission Id"][1]

In [ ]:
data_new['Submission Id'] = data_new['Submission Id'].fillna(-9223372036854775808).astype(int)
data_new["Submission Id"]

In [ ]:
data_new["Company Name *"]=data_new["Company Name *"].str.upper()
group_id=data_new.groupby(['Company Name *']).agg({'Submission Id':'unique'})
group_id=group_id.rename(columns={'Submission Id':'old_id'})
group_id.reset_index(inplace=True)
#group_id
print("DONE")

In [ ]:
## nested list for submission_id
old_id=group_id['old_id'].to_list()
lst_id=[]
for i in range(len(old_id)):
    lst_id.append(old_id[i].tolist())
lst_id

In [ ]:
## nested list loop------> SORT
lst22=[]
lst23=[]
index22=[]

for i in range(len(lst_id)):
    #for m in range(len(lst_id[i])):   
    lst22=sorted(lst_id[i])
    lst23.append(lst22)
        
print("DONE")

In [ ]:
## convert back to string
for i in range(len(lst23)):
    for m in range(len(lst23[i])): 
        lst23[i][m]=str(lst23[i][m])
print("DONE")
#lst23

In [ ]:
### nested list loop------> separate the KAP

lst25=[]
lst24=[]
index=[]
seperator='-'
for i in range(len(lst23)):
    for m in range(len(lst23[i])):   
        if (len(lst23[i])==1)&(lst23[i][m]=="-9223372036854775808"):
            ##KAP
            lst25.append("KAP")
            index.append(i)
        if (len(lst23[i])>=1)&('-9223372036854775808' in lst23[i]):
            lst25.append("BDRId:"+" "+seperator.join(lst23[i][1::])+" + KAP")
            #lst25.append(10)
            index.append(i)
        else:
            ##NUMS
            #lst25.append(2)
            lst25.append("BDRId:"+" "+seperator.join(lst23[i]))
            index.append(i)
            
list_of_tuples = list(zip(index, lst25))
sub= pd.DataFrame(list_of_tuples, columns = ['index', 'Profile Sub id']) 
sub=sub.drop_duplicates(subset=['index'], keep="first")
subresult = pd.merge(group_id, sub, left_index=True, right_on="index", how='inner')
subresult=subresult.reset_index()
print("DONE")

In [ ]:
#subresult.to_excel("QA3334.xlsx")

In [ ]:
subresult.head()

In [ ]:
##len==1 and lst23[i][m]<0--> append KAP

# Look Back Date (Skip)

In [ ]:
# ## the fake replace date need to be changed in the DEC 2020
# #data_new=pd.read_excel("country_cleaned_socgen_c1.xlsx")
# data=data_new.copy()
# data["Lookback Period Start date"]=data["Lookback Period Start date"].replace(np.nan,"12/12/2040")

# ## need to be completed the grouping
# look_back=data.groupby(['Company Name *']).agg({'Lookback Period Start date':'unique'})
# look_back.reset_index(inplace=True)

In [ ]:
# ## convert list of array to nested list
# lst=look_back["Lookback Period Start date"].to_list()
# lst11=[]
# for i in range(len(lst)):
#     lst11.append(lst[i].tolist())
# lst11

In [ ]:
# ## change str to datetime object
# for i in range(len(lst11)):
#     for m in range(len(lst11[i])):
#         if type(lst11[i][m])==str:
#             lst11[i][m]=datetime.strptime(lst11[i][m], "%m/%d/%Y").strftime('%Y-%m-%d')
#             lst11[i][m]=datetime.strptime(lst11[i][m], '%Y-%m-%d')
# print("Done")

In [ ]:
# ## get the smallest in the sub list
# lst2=[]
# for i in range(len(lst11)):
#     t=min(lst11[i])
#     lst2.append(t)
# print("Done")

In [ ]:
# ## change back to str for replace
# for i in range(len(lst2)):
#     lst2[i]=lst2[i].strftime('%Y-%m-%d')
# print("Done")

In [ ]:
# look_back["Lookback Period Start date_final"]=lst2
# look_back["Lookback Period Start date_final"]=look_back["Lookback Period Start date_final"].replace("2040-12-12",np.nan)
# look_back

In [ ]:
#look_back.to_excel("look_back_qa.xlsx")

# ONNS PROJECT (Skip)

In [ ]:
# #data_new=pd.read_excel("country_cleaned_socgen_c1.xlsx")
# data=data_new.copy()

# ## grouping
# onns=data.groupby(['Company Name *']).agg({'Profile status':'unique'})
# onns.reset_index(inplace=True)

In [ ]:
# ## convert to the nested list
# lst3=onns["Profile status"].to_list()
# lst4=[]
# for i in range(len(lst3)):
#     lst4.append(lst3[i].tolist())

In [ ]:
# ## nested list loop
# lst5=[]
# index5=[]

# for i in range(len(lst4)):
#     for m in range(len(lst4[i])):
#         if lst4[i][m]=="ONNS-Project":
#             lst5.append("ONNS-Project")
#             index5.append(i)

# list_of_tuples = list(zip(index5, lst5))
# onns1 = pd.DataFrame(list_of_tuples, columns = ['index', 'Profile status_final']) 
# onnsresult = pd.merge(onns, onns1, left_index=True, right_on="index", how='outer')
# onnsresult=onnsresult.reset_index()

In [ ]:
# data_frames1 = [df_merged4, look_back, onnsresult]
# df_merged2 = reduce(lambda  left,right: pd.merge(left,right,on=['Company Name *'],
#                                             how='inner'), data_frames1)
# df_merged2.columns

In [ ]:
#df_merged2.to_excel("QA6.xlsx")

# Submission Type (Done)

In [ ]:
# data_new=pd.read_excel("country_cleaned_socgen_c1.xlsx")
# data_new["Country"]
data_new["Country"]=data_new["Country"].astype(str)

In [ ]:
#concate the data and deduplicate
data_new["concat"] = data_new['Address'].map(str) +' ' + data_new['City'].map(str) +' ' + data_new['StateProv'].map(str)+' ' + data_new['ZipPostal'].map(str)+' '+data_new['Country'].map(str)
data_dedupli=data_new.drop_duplicates(subset=['Company Name *','concat'], keep="first")
data_dedupli

g=data_dedupli.groupby(['Company Name *']).agg({'Address':lambda x: list(x),
                                              'City':lambda x: list(x),
                                             'StateProv':lambda x: list(x),
                                             'ZipPostal':lambda x: list(x),
                                             "Country":lambda x: list(x)})



## change into workbench format: need to include city, state, country name change
g.reset_index(inplace=True)

In [ ]:
## get the concated country column
c_code=g[["Company Name *","Country"]]
c_code

## convert to thre nested list
lst7=c_code["Country"].to_list()
lst8=[]
for i in range(len(lst7)):
    lst8.append(lst7[i])
#lst8

In [ ]:
## apply multinational rule
lst9=[]
index9=[]

for i in range(len(lst8)):
    for m in range(len(lst8[i])):
        if (lst8[i][m]=="") or (lst8[i][m]==" ") or (lst8[i][m]=="nan") or(lst8[i][m]==np.nan) or (lst8[i][m]=="NAN"):
            lst9.append("MULTINATIONAL")
            index9.append(i)

list_of_tuples = list(zip(index9, lst9))
subtype = pd.DataFrame(list_of_tuples, columns = ['index', 'Submission Type_final']).drop_duplicates(subset=['index',"Submission Type_final"], keep="first")
submissonResult = pd.merge(c_code, subtype, left_index=True, right_on="index", how='outer')
submissonResult=submissonResult.reset_index()

In [ ]:
#submissonResult.to_excel("sub_qa.xlsx")

In [ ]:
submissonResult

# merge all

In [ ]:
data_frames5 = [df_merged4, subresult, submissonResult,h]
df_merged5 = reduce(lambda  left,right: pd.merge(left,right,on=['Company Name *'],
                                            how='outer'), data_frames5)

In [ ]:
df_merged5.columns
len(df_merged5)

In [ ]:
df_merged5[0:100]

In [ ]:
# re-format
df_merged5["Additional Data Label 1"]="Lookback Date"
df_merged5["Additional Data Value 1"]="01/01/2020"
df_merged5["Additional Data Label 2"]="Source Rows"

df_merged5=df_merged5.rename(columns={"Submission Type_final":"Submission Type",
                     "Profile Sub id":"Submission ID",
                     "identifier":"Additional Data Value 2",
                     "City_x":"City",
                     "StateProv_x_y":"StateProv",
                     "ZipPostal_x_y":"ZipPostal",
                     "Country_x_y":"Country"})

In [ ]:
df_merged5.to_excel("final_qa_last7.xlsx")